.content {
  &__head {
    margin-bottom: 4px;
    margin-top: -12px;
  }
  &__title {
    margin: 0;
    color: $darkBlack;
    font-size: 40px;
    line-height: 1.5;
    font-weight: 700;
  }
  &__items {
    margin-bottom: 32px;
    font-weight: 700;
  }
  &__link {
    display: flex;
    height: 40px;
    width: max-content;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #EBEBEB;
    align-items: center;
    color: $darkBlack;
    width: 88px;
    text-align: center;
    justify-content: center;
    &.active {
      background: $darkBlack;
      color: #fff;
      text-decoration: none;
      border-color: transparent;
    }
  }
  &__item {
    &:first-child {
      .content__link {
        border-radius: 8px 0 0 8px;
      }
    }
    &:last-child {
      .content__link {
        border-radius: 0 8px 8px 0;
      }
    }
  }
}