.header {
  border-bottom: 1px solid #EBEBEB;
  padding: 16px 0;
  &__search {
    background: $lightGrey;
    padding: 0 0 0 16px;
    display: flex;
    align-items: center;
    border-radius: 100px;
    margin: 0;
    img {
      display: flex;
    }
    input[type="search"] {
      height: 40px;
      border: 0;
      background: transparent;
      outline: none;
      width: 100%;
      padding: 0 12px;
    }
  }
}