.sidebar {
  @media (max-width: $mobile) {
    margin-bottom: 20px;
  }
  &__item {
    margin-left: -15px;
    width: calc(100% + 15px);
    @media (max-width: $mobile) {
      margin-left: 0;
      width: calc(50% - 10px);
      margin-bottom: 10px;
    }
  }
  &__link {
    height: 40px;
    border-radius: 8px;
    padding: 0 15px;
    color: $grey;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    svg {
      margin-right: 8px;
    }
    &.active,
    &:hover {
      background: $orange;
      color: #fff;
      svg {
        path {
          fill: #fff;
        }
        .hover-fill {
          fill: #ED7135 !important;
          stroke: #fff;
        }
      }
    }
    &.active:hover {
      color: #fff;
    }
  }
}