.sidebar {
  &__item {
    margin-left: -15px;
    width: calc(100% + 15px);
  }
  &__link {
    height: 40px;
    border-radius: 8px;
    padding: 0 15px;
    &.active,
    &:hover {
      background: $orange;
      svg {
        path {
          fill: #fff;
        }
      }
    }
  }
}